<h2>Sign In</h2>

<div class="container">
    <form #signInForm="ngForm"(ngSubmit)="loginUser(signInForm)">
        <div class="form-group">
            <label for="exampleInputUser1">User Name</label>
            <input type="user" class="form-control" id="exampleInputUser1" aria-describedby="userHelp" name="userAdress" ngModel required  #userAdress="ngModel">
            <small class="form-text text-muted" *ngIf="userAdress.touched && !userAdress.valid">Please Enter yourname</small> 
          </div>     
            <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="emailAddressField" ngModel required #emailAddressField="ngModel">
           <small class="form-text text-muted" *ngIf="emailAddressField.touched && !emailAddressField.valid">We'll never share your email with anyone else.</small> 
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="passwordField" ngModel required   #passwordField="ngModel">
          <small class="form-text text-muted" *ngIf="passwordField.touched && !passwordField.valid">Please Enter password</small> 
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" name="termsField" ngModel >
          <label class="form-check-label" for="exampleCheck1">Agree To Terms</label>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!signInForm.valid">Submit</button>
      </form>
</div>